[2014-12-07 09:20] HyperNatho opened #1 "uuid-java gives off error when querying for uuid"
Title says it all

[code]

[2014-12-19 05:50] IanSzot opened #2 "When the server is offline, it takes a lot of time to the API return "offline""
The title quite explains it already, also if you are using the API in some webpage it will slow down the webpage.

[2014-12-19 21:25] #2 closed, assigned to nobody

[2015-01-05 10:09] njb-said commented on #1
I believe this is fixed as of the rewrite.

[2015-01-05 10:09] #1 closed

[2015-01-05 11:46] njb-said opened #3 "Variables not being replaced"
Some variables are not being replaced properly.

[2015-01-05 12:02] njb-said commented on #3
Patched this on the server.

[2015-01-05 12:02] #3 closed

[2015-01-09 20:19] njb-said opened #4 "Add JavaDoc into UUIDHandler"
[The TODO](https://github.com/MC-API/uuid-java/blob/master/src/main/java/net/mcapi/uuid/UUIDHandler.java#L10)

[2015-01-15 15:12] njb-said opened #5 "robots.txt support and sitemap.xml"
I want to add support for a robots.txt file and a sitemap.xml

Can get these done next week probably

[2015-01-16 11:22] njb-said commented on #5
Added robots.txt to static

I now need to implement to deployments and server backend.

[2015-01-22 15:24] Zeryther opened #6 "Unknown Class (Java UUID API)"
It can't find the class com.jcabi.aspects.Async in net.mcapi.uuid.queries.UUIDQuery and net.mcapi.uuid.queries.NameQuery

[2015-01-22 19:36] njb-said commented on #6
Are you using Maven?

[2015-01-23 11:05] Zeryther commented on #6
Will check it out. I often had these problems. People suggested me to use Maven, but I didn't :/

[2015-01-23 11:05] #6 closed

[2015-01-25 00:26] njb-said commented on #6
I have now removed jcabi but replaced it with unirest (which is a really cool http library for java and other languages)

[2015-01-26 18:06] njb-said opened #7 "Shutdown spam"
The shutdown hook spams

Reported by @iCake

[2015-01-27 22:10] njb-said opened #8 "Bungee Security Manager"
Apparently, bungee doesn't like Unirest because of it's use of threads.
Will have to look into an alternative or disable Unirest when using bungee handler.

[2015-02-06 17:31] njb-said opened #9 "Favicon not working"

[2015-02-06 17:32] njb-said opened #10 "No history API"
There isn't a way to get name history using the Java Library

[2015-02-13 15:37] njb-said commented on #10
In progress

[2015-03-08 19:05] #10 closed

[2015-03-08 19:06] njb-said commented on #9
Actually, didn't mean to close this.
It's not an issue with the favicon api its an issue with the frontend favicon not loading correctly.

[2015-03-08 19:06] njb-said commented on #7
Can't reproduce

[2015-03-08 19:06] #7 closed

[2015-03-08 19:07] njb-said commented on #4
Added this [here](https://github.com/MC-API/uuid-java/commit/ab525a01f2db5d5ba2ab89a43591a68a5f4384e0)

[2015-03-08 19:07] #4 closed

[2015-03-08 19:08] iCake commented on #7
This happened on a Bukkit server. When you reload the server many times and shut it down, it'll spam the shutdown msg.

[2015-03-08 22:59] njb-said commented on #8
Solved, set the UUIDHandler to this:
https://gist.github.com/njb-said/39e1b0fdebc18b02fc14
Runs the uuid queries async and keeps bungee happy.

[2015-03-08 22:59] #8 closed

[2015-03-12 16:57] njb-said commented on #9
Solved

[2015-03-12 16:57] #9 closed

[2015-03-23 19:21] ewized opened #11 "Errors does not have access-control-allow-origin"
When some one enters a unknown username the error message does not have the `access-control-allow-origin`. Which makes programs act funky.

An example of a public app that uses the API that acts funky: https://mcuuid.ewized.com

[2015-03-23 19:22] njb-said commented on #11
@ewized what mirror does it use so I can isolate the issue?
(Eg: eu.mc-api.net, us.mc-api.net) for requests

[2015-03-23 19:42] ewized commented on #11
ATM it uses the `us.mc-api.net` but its going to use `mc-api.net` to pull the subdomain based on your system.

[2015-03-23 19:43] njb-said commented on #11
Ok, I am working on a fix for it now

[2015-03-23 20:32] ewized commented on #11
@njb-said When the fix gets deployed can you tell me so I can test my web app? Thanks

[2015-03-23 20:50] njb-said commented on #11
This should now be resolved, thanks for reporting.

[2015-03-23 20:50] #11 closed

[2015-03-24 01:35] ImNatho opened #12 "Standardizing the nginx backend scripts."
We need a way of synchronizing the backend scripts and settings for all the region hosting.

[2015-04-06 01:35] Zeryther opened #13 "[PHP-API] Using $this when not in object context"
I just got this error:
[code]

My code:
[code]

The used UUID:
[code]

[2015-04-07 22:23] njb-said commented on #13
@Zeryther
Sorry for the late response, was on vacation.

Anyway, the reason you are getting this error is because you haven't made an instance of the uuid_api class, however I will shortly be editing it to be static. If you can wait for me to do that then that's great, if not I suggest (for now at least) you create a temporary instance of the class.

[code]

[2015-04-09 06:28] Zeryther commented on #13
Thanks for the help! You don't have to hurry ^^ It was just a little thing I wanted to improve on my website ^^

[2015-04-09 06:28] #13 closed

[2015-07-27 17:51] njb-said opened #14 "Monitoring System"
A system to monitor mc-api services and notify me when they go down or have problems.

[2015-07-27 17:52] njb-said opened #15 "Rewrite status page and public release it"

[2015-07-29 14:34] njb-said opened #16 "Solve constant downtime from jenkins"
Every so often jenkins seems to crash and not fix itself causing problems for all servers

[2015-07-29 14:36] njb-said commented on #16
Finishing #14 will help resolve this

[2015-10-04 14:40] njb-said commented on #16
This was resolved a few weeks ago following a server move.

[2015-10-04 14:40] #16 closed

[2015-10-11 16:21] checkplys opened #17 "Error 403"
Im trying to use the mc api but I get error 403

My code:
	json = readUrl("http://eu.mc-api.net/v3/server/info/mc.hypixel.net");

		     Gson gson = new Gson();
		     Page page = gson.fromJson(json, Page.class);

		     System.out.println(page.status);

Error:
  java.io.IOException: Server returned HTTP response code: 403 for URL: http://eu.mc-api.net/v3/server/info/mc.hypixel.net
	at sun.net.www

[2015-10-12 06:13] Nathooo- commented on #17
Hello. Currently @njb_said is on holidays so I'll be helping you today :)

The error is the 403 response code that our server returned. This means that the page is forbidden. This is most likely an issue with Cloudflare blocking your request(s). Have you tried another way of reading the json, perhaps try the URL and URLConnection class?

[2015-10-27 14:10] njb-said opened #18 "Make footer and header more central"

[2015-11-17 17:19] njb-said commented on #14
This has been accomplished.
There is now an automated bot which tweets when a public service goes down [@mcapi_status](https://twitter.com/mcapi_status) and sends a slack message to me.
There is also a private monitoring panel ![http://i.imgur.com/sk1lh8H.png](http://i.imgur.com/sk1lh8H.png)

[2015-11-17 17:19] #14 closed

[2015-11-17 17:21] njb-said commented on #15
A new monitoring system is live, I have yet to make a public version.
Would probably be similar to the private one:
![https://camo.githubusercontent.com/1775f364b7ac4a1965810b89468d0259a8251014/687474703a2f2f692e696d6775722e636f6d2f736b316c6838482e706e67](https://camo.githubusercontent.com/1775f364b7ac4a1965810b89468d0259a8251014/687474703a2f2f692e696d6775722e636f6d2f736b316c6838482e706e67)

[2015-11-17 17:21] #15 closed

[2015-11-24 08:42] Envici opened #19 "Server Favicon Broken"
Whenever I try and connect and find the server favicon, it times out.

[2015-11-24 18:09] njb-said commented on #19
@InstanceOfDev Could you tell me the ip you are trying?

[2015-11-25 07:18] InstanceOfDev commented on #19
It seems to be every server I have tried. These ones so far:

- mc.hypixel.net
- play.galaxycube.net
- play.hivemc.com

[2015-12-19 20:44] njb-said opened #20 "Use browser caching"
Edit cache system to leverage browser caching more

[2015-12-24 17:39] cossacksman commented on #17
I would like to add to this by saying I'm receiving the 403 both locally and pushed to the server I'm developing for. I'm using a `HttpURLConnection` and a buffered reader to obtain the response data (as I did with Mojang's API previously which worked) like so `BufferedReader(new InputStreamReader(connection.getInputStream()))` but the reponse headers aren't very useful..

    X-Frame-Options:

[2015-12-24 18:28] cossacksman commented on #17
I'd like to add to this by saying I could only get it to work by falsifying the User-Agent header.

[2015-12-25 19:13] njb-said commented on #17
Ah, in that case it is cloudflare blocking you for an invalid user-agent header, setting that yourself would fix it.

[2016-01-04 21:04] pvpteams opened #21 "Uuid to username problem"
Hi! I have php website that connects to mysql database and get from there players uuid and his deaths etc.
So i use your uuid to username api. It have worked very good but now it doesnt work.
At the website its saying this:
Warning: file_get_contents(https://eu.mc-api.net/v3/name/34b53065-1281-4193-a39c-c0b7339ac8ac): failed to open stream: HTTP request failed! HTTP/1.1 404 Not Found in /var/www/h

[2016-01-06 03:23] ImNatho commented on #21
Hey,

Give it another go; The website may have been down during that time. If it still doesn't work could you please paste line 79 of top-party.php?

-N

[2016-01-06 03:25] ImNatho commented on #5
Closed; 1 year old.

[2016-01-06 03:25] #5 closed

[2016-01-06 03:25] ImNatho commented on #17
Looks like it was solved. Closing Issue

[2016-01-06 03:27] #19 closed

[2016-01-06 03:29] #12 closed

[2016-01-06 14:01] njb-said commented on #19
I think most server info and favicon issues have been fixed since I rewrote the server. SRV records are still an issue though

[2016-01-06 14:06] njb-said commented on #20
This is now much more possible because of new cache backend. Added to trello with detail

[2016-01-06 17:55] pvpteams commented on #21
Its working now. Thanks!

[2016-01-06 17:55] #21 closed

[2016-01-07 00:51] ImNatho commented on #20
I forgot my password for trello... Can you invite me@natho.io :)

[2016-01-20 13:44] Rizzkin opened #22 "Doesnt work anymore."
Hello,

https://eu.mc-api.net/v3/uuid/ doesn't work anymore. It can check the UUID of available names but it doesn't check the UUID of like this.

The name BAT comes available soon. so I wanna grab the UUID so I can make a function which calculates when it gets available.

I tried yesterday and it worked, tried 3 hours later and it didnt.
Help me with this please, how can I get the UUID of a name

[2016-01-20 19:12] njb-said commented on #22
Hi,
Could you explain to me the issue you are having?
I have just checked and the username "Bat" is available. (You can check [here](https://iaero.me/mcchecker) to see if the username is available or not)
You cannot get the UUID of the username until someone has it as their name (because it doesn't exist)

Hope this helps :smiley:

[2016-01-20 19:41] Rizzkin commented on #22
Thanks for your fast response,

Really appreciate it!

Do you know how to calculate it then, calculate the time until the name is available.

Because I am developing a sniper and about this issue I am clueless. Do you know how to calculate until a new name is available?

Is there an API for it?

Do you have skype, mine is ifsquiiz!

Verstuurd vanaf mijn iPhone

[2016-01-20 20:45] njb-said commented on #22
You could use this [this](https://mc-api.net/example/history) to find out when they last changed their uuid and work off it.
Don't really know specifics as I haven't looked into it before.

[2016-01-20 21:36] Rizzkin commented on #22
Would you wanna be my partner to make a MC sniper with my associate Jefferson Prince the CEO of www.StarnetEclipse.com

One of the employees who work airh his ingame stuff wil write the code.

Verstuurd vanaf mijn iPhone

[2016-02-03 07:58] Envici opened #23 "Errors retrieving UUIDs."
Heyo! As of late, it seems that retrieving UUIDs sometimes returns 404 errors. It seems to be happening for people who have recently changed their name. My network literally runs off this API so a quick answer would be appreciated :)

[2016-02-03 15:59] #22 closed

[2016-02-03 16:01] njb-said commented on #23
Hi,
Could you give me an example code snippet so I can try to work out the cause of this.
It is possible the names/uuids are being cached when you are requesting them.
Thanks :smiley:

[2016-02-03 22:03] Envici commented on #23
This is the code snippet that I use to retrieve UUID's

`URL url = new URL("http://eu.mc-api.net/v3/uuid/" + name);
            HttpURLConnection request = (HttpURLConnection) url.openConnection();
            request.addRequestProperty("User-Agent", "Mozilla/5.0 (Windows NT 6.1; WOW64; rv:25.0) Gecko/20100101 Firefox/25.0");
            request.connect();

            JsonParser jp = new JsonPars

[2016-02-04 14:26] PunKeel opened #24 "Multiple UUIDs at a time ?"
Hello,

In order not to flood your API, I think it might be cool if we could query multiple UUID at a single time, the  same way names->uuid works.

The old API wouldn't have to change, but `https://eu.mc-api.net/v3/name/b05881186e75410db2db4d3066b223f7,61699b2ed3274a019f1e0ea8c3f06bc6` would return `[{...}, {...}]`. This way, it's backward compatible.

Do you think this is possible? (There is no

[2016-02-04 15:17] ImNatho commented on #24
Yes, that would be very handy. But I think Mojang still have a limit on the amount of UUIDs you can query every 30 seconds? @njb-said can/cannot confirm?

[2016-02-04 16:04] njb-said commented on #24
Yeah, that's correct @ImNatho they have ridiculous rate limiting.
Potentially I could add multiple uuids but it would probably fail because of the rate limiting. :unamused:

[2016-02-08 15:46] njb-said commented on #23
Sorry for the late reply, I have done a little thinking and it is most likely to be a caching issue.
I think that the name you are requesting may have been changed but it is cached and therefore the server will output that. My only suggestion is try another server like [us.mc-api.net](https://us.mc-api.net), not ideal I know but give it a try and tell me how it goes :+1:

[2016-02-10 20:37] njb-said opened #25 "Minify mcserver-js"
Need to minify and retain comments

[2016-02-10 20:38] njb-said opened #26 "Deploy mcserver-js to CDN"
Need to deploy mcserver-js to a CDN (jsdelivr.com and cdnjs.com to begin with)

[2016-02-14 20:04] njb-said opened #27 "Ignore GET arguments"
The server thinks that requests with GET arguments are different routes.
It needs to ignore them, should be a simple fix.

[2016-02-14 20:11] njb-said opened #28 "Changelog"
Make a public changelog, using either:
- A blog (safer)
- A feed from commits (easier)

[2016-02-14 23:04] ImNatho commented on #28
Maybe use the same system you had setup on the MinecraftArcade site with auto publications of the Git Transcript.

[2016-02-15 20:49] njb-said commented on #27
Fixed and deployed.

[2016-02-15 20:49] #27 closed

[2016-02-16 14:19] dadus33 commented on #17
Well maybe you guys no longer get this issue but unfortunately I still do. It happens with the UUID API in /v3/uuid/notch. I get 403 error.

[2016-02-16 14:25] checkplys commented on #17
@dadus33 Ther's two errors, one is the path, and other the name, you should use http://mcapi.ca/uuid/player/Notch , whatever the UUID API isn't working for me at the time I'm writing this, when it gets back up the URL i give to you should work, if not look at the methods above.

[2016-02-16 14:48] dadus33 commented on #17
@checkplys thanks for that but unfortunately I was trying to switch from mcapi.ca as it's downtime is just huge. What should I try?

[2016-02-16 15:08] dadus33 commented on #17
Also what do you mean by wrong path or name? The user notch does exist. Also, what's wrong with the path? Seems to be working in browser: http://eu.mc-api.net/v3/uuid/Notch

[2016-02-16 15:10] checkplys commented on #17
@dadus33 On the example it shows another path at mc-api.net

[2016-02-16 15:16] dadus33 commented on #17
Well this is the example: http://prntscr.com/a410jg
But anyways, what should I do? Why do I keep getting 403?
Please help...

[2016-02-17 04:59] ImNatho commented on #17
Have you tried setting your user agent header yourself @dadus33 ? It was the fix for this issue originally. Cloudflare likes to block most requests that look like a bot attack or dos which normally don't have proper headers.

[2016-02-17 10:46] dadus33 commented on #17
@ImNatho Well I'm trying to use it for the UUID fetcher of the SkinsResorer plugin. That currently uses mcapi.ca which is kinda always down -_-. Anyways, I know how to add a custom header but I just don't want to mess up the current code of the plugin as honestly, there are lots of things there I can't understand. However, I'll try, and if I don't manage to solve it I'll tell the author to change

[2016-02-17 10:49] ImNatho commented on #17
Can I have a link to that plugin? I might write a MC-API patch for it (@njb_said)

[2016-02-17 12:28] dadus33 commented on #17
@ImNatho Of course, it's open source on github, just search for it (SkinsRestorer by Th3Troller). By the way, it looks like I managed to edit those things myself :D

[2016-02-17 14:16] njb-said commented on #17
@dadus33 On that repository it doesn't look like it uses mc-api at all
https://github.com/Th3Tr0LLeR/SkinsRestorer---Maro/blob/master/src/skinsrestorer/shared/utils/MojangAPI.java#L42

[2016-02-17 17:19] Th3Tr0LLeR commented on #17
@njb-said Yes, Because I don't know if it bypasses the rate limit. It would be cool to use it if it does :)

[2016-02-17 18:38] njb-said commented on #17
We aren't affiliated with _mcapi.ca_ in any way. This is **[mc-api.net](https://mc-api.net)**, an entirely seperate service.
Just wanted to clear that up in case anyone was confused.

[2016-02-17 18:40] Th3Tr0LLeR commented on #17
Yes. When i was searching for an API i can use to bypass the limit, i saw your API. It is good, but i don't know if it has limit, or it doesn't have. it can easily be overloaded by the servers using SkinsRestorer.

[2016-02-17 19:09] checkplys commented on #17
Download gson and add it to your buildpath:
http://central.maven.org/maven2/com/google/code/gson/gson/2.5/gson-2.5.jar
Then use this class I made for you: http://pastebin.com/V0e5VHsR

With that, you can just do this:
`String UUID = JsonGet.getUUID("player")`

[2016-02-17 19:10] checkplys commented on #17
@dadus33

Download gson and add it to your buildpath:
http://central.maven.org/maven2/com/google/code/gson/gson/2.5/gson-2.5.jar
Then use this class I made for you: http://pastebin.com/V0e5VHsR

With that, you can just do this:
`String UUID = JsonGet.getUUID("player")`

[2016-02-17 19:27] dadus33 commented on #17
@checkplys Thanks for the suggestion but I already managed to get it working. Anyways, I think this issued should now rest in peace. You won't get the 403 error if you use a fake user agent.

[2016-02-17 19:39] njb-said opened #29 "Solution for User-agent 403 errors"
After a conclusion on #17, I am going to:
- Mess around with cloudflare (the culprit) to fix it or disable the security setting entirely
- Add a note to the [docs](https://github.com/mc-api/static) to tell users to make sure they have a valid user agent (not ideal)

I am also going to rewrite the java client for mc-api to be more diverse and lightweight (hopefully)
You can find the java client [he

[2016-02-17 19:41] #17 closed

[2016-02-17 19:41] njb-said commented on #17
@dadus33 As this has happened to a few people now I am going to add a message in the documentation about it until I can think of a better solution.

@Th3Tr0LLeR As for rate limiting, there isn't a "hard" rate limit on my servers, but it can still get throttled by mojang at times (not much I can about this other than proxy my traffic + add more servers)
I am currently investigating if I need more s

[2016-02-17 19:43] Th3Tr0LLeR commented on #17
@njb-said SkinsRestorer is used to restore the skins for the cracked servers. it requests skin data every time a new or un-cached player join. I used to use mcapi.ca, but now it gets overloaded and i don't know what to do now :D

[2016-02-19 16:30] njb-said commented on #29
I have edited cloudflare's settings, I am going to monitor it for a few days.

[2016-02-19 16:30] #29 closed

[2016-02-22 00:06] ImNatho commented on #29
Follow up: After trying a few days I have failed to get any 403 errors from the US or EU servers. Looks like changing the user-challenge has solved this.

[2016-02-22 00:08] ImNatho commented on #24
Add me to the server repo @njb-said . I have an idea to implement this.

[2016-02-26 01:48] Envici opened #30 "Yeah its down. Bad gateway"
This is quite annoying. This is holding up my entire network. The entire API (both regions) are down.

[2016-02-26 08:48] njb-said commented on #30
Hi, apologises for this, I am working on a fix.
After it is fixed I am going to put something in place to hopefully prevent this happening again.

[2016-02-26 08:58] njb-said commented on #30
Fixed both regions. Will do something to stop this in the future later today.
Apologises again for the inconvenience.

[2016-02-26 08:58] #30 closed

[2016-03-02 07:49] #23 closed

[2016-03-07 22:26] njb-said opened #31 "Notices"
Make a way to add notices to homepage without having to restart servers or update static repository (redis?)

[2016-03-07 23:34] ImNatho commented on #31
Does the server load the resources at start or for each request? I guess you could have the server check mongo for a notice in it's region.

[2016-03-08 09:13] njb-said commented on #31
Right now, the server downloads the static git repository when it starts up to get the html files. And can be updated whenever on the server by just replacing the html file with something else.
I want to make a way to show a notice or something on the homepage but I don't want it to increase the page load time.
So I am thinking of having a task running in the background which checks redis or mongo

[2016-03-08 09:24] ImNatho commented on #31
What about a javascript that checks xx.mc-api.net/backend/errors and gets a json return of current errors? That page would then check redis/mongo

[2016-03-22 20:44] IvanTrendafilov opened #32 "The API does not understand SRV records"
For instance, one can connect to emerald.voxmc.com from the MC client, but the API fails:

https://eu.mc-api.net/v3/server/info/emerald.voxmc.com/csv

When using a standard A record and the port, it works

https://us.mc-api.net/v3/server/info/emerald2.voxmc.com:25567/csv

[2016-03-22 22:50] njb-said commented on #32
We are aware of this issue and unfortunately we don't have a way to resolve SRV records as of now that doesn't increase API response times. It is something we're looking into but it isn't a top priority right now, I suggest (for now at least) just using an A record with our API.

[2016-03-23 20:13] KareemMAX opened #33 "Add properties to the UUID to Name API"
I'm working in a program that show the skin of player and modify it so I need to know the model of the player (Alex or Steve), so I used [mcapi.ca](https://mcapi.ca/examples/name-api)'s Name API which has alots of problems
So I wish if you add the properties field which is exist in [Mojang API](https://sessionserver.mojang.com/session/minecraft/profile/4566e69fc90748ee8d71d7ba5aa00d20)
Looks like

[2016-03-23 20:24] ImNatho commented on #33
Hey @KareemMAX. I could do this today if @njb-said can give me access to the private backend repo.

[2016-03-23 20:29] KareemMAX commented on #33
Ok @ImNatho, Please try to finish it today because I want to recover this problem quickly.

[2016-03-23 20:34] ImNatho commented on #33
So you just want a decoded skin section added to the api like mcapi.ca correct?

[2016-03-23 20:36] KareemMAX commented on #33
Yes, with metadata if the skin model is Alex

[2016-03-23 21:03] KareemMAX opened #34 "The cache system in UUID to Name store the query instead of the actual name"
When I tried to use the api the first time looked like this
[code]
the second time looked like this
[code]
Please solve this as soon as you can @ImNatho

[2016-03-23 21:20] ImNatho commented on #34
Wait. What part is the issue? One was loaded from our cache and the other was retrieved from mojang's servers? Or is the the "name" value?

[2016-03-23 21:25] KareemMAX commented on #34
Your server seems to be save the query in the cache in the "name" value so when I try to get it from the cache the "name" value is the previous query
I tried to use different name and different times and in lowercase or uppercase and the problem still the same

[2016-03-23 21:26] ImNatho commented on #34
Okay, that's a quick fix. I'll add it in before the skins section

[2016-03-23 21:26] KareemMAX commented on #34
The mojang one was correct, the problem with the cache system

[2016-03-23 21:26] KareemMAX commented on #34
Ok I'm waiting

[2016-03-23 21:27] ImNatho commented on #34
@KareemMAX I have UNI today so It might take a few hours before this is merged into master.

[2016-03-23 21:28] KareemMAX commented on #34
No problem I will change my code when you done

[2016-03-23 21:56] njb-said commented on #33
@KareemMAX This might sound like a stupid question but is it not possible for you to just decode the base64 on your end? (I'm not against us doing it, just wondering what your use case is :+1: )

[2016-03-23 22:07] KareemMAX commented on #33
@njb-said  My reason to submit this issue is just to add the "properties" field not "properties_decoded" but @ImNatho maybe thought that I was just want "properties_decoded" only :+1:

[2016-03-23 22:10] KareemMAX commented on #33
I was actullay decode the properties field when I was using MCAPI.ca because of the missed field

[2016-03-23 23:52] ImNatho commented on #33
I can do either, but for now I might just do "properties" and leave it encoded so that it can be used for more use-cases

[2016-03-23 23:52] ImNatho commented on #34
Pushed to master. Waiting for tests and deploy.

[2016-03-24 00:17] ImNatho commented on #34
Deployed

[2016-03-24 00:17] #34 closed

[2016-03-24 08:51] KareemMAX commented on #33
Ok no problem just tell me when you are done this

[2016-03-24 16:57] KareemMAX opened #35 "Add skins API"
Maybe that would be good because MCAPI.ca maybe have some issues with this API also
MCAPI.ca offer alot of types to get the skin : the skin file it self(which I use), 2d model of the player, 3d model of the player.
You can also use my code in Minecraft-Skiner project which had the 3d code in VB.net using OpenTK (OpenGL library)

[2016-03-24 17:35] njb-said commented on #35
This was something we used to have but had to abandon it due to the high maintenance it requires and the little time I had available.
That was then and this is now, we might bring it back and do something similar to the site you mentioned as well as cravatar, minotar and others.
I'll speak with @ImNatho about a plan for it and see what we can do, if it does happen I imagine it will be skin.mc-api.

[2016-03-24 22:24] KareemMAX commented on #35
Ok I'm waiting for this feature. :+1:

[2016-03-29 15:58] jake44264 opened #36 "UUID down"
the eu uuid server is currently down.

[2016-03-29 16:03] njb-said commented on #36
@jake44264 It's up for me! Could you show me a screenshot or an error you might be getting?
![http://i.imgur.com/UiM9c2o.png](http://i.imgur.com/UiM9c2o.png)

[2016-03-29 16:07] jake44264 commented on #36
if i do https://eu.mc-api.net/v3/uuid/Jake4 it doesn't work.

[2016-03-29 16:08] jake44264 commented on #36
it says Unknown Username on all the accounts.

[2016-03-29 16:42] njb-said commented on #36
Ok, I have checked the logs and it seems Mojang's API rate limit is causing issues. I suggest you try us.mc-api.net for now.

I am actively looking into getting more servers to try to work around the rate limits

[2016-03-29 17:42] njb-said commented on #36
@jake44264 I think the issue has fixed itself, as I mentioned I am investigating getting more servers however it is quite expensive to do so bear with me! :+1:
Sorry for the inconvenience this issue may have caused.

[2016-03-29 17:42] #36 closed

[2016-04-01 11:00] jake44264 opened #37 "EU is currently down"
The eu server is currently down.

[2016-04-01 11:03] ImNatho commented on #37
Damn. I'll get onto @njb-said... This isn't an April fools afaik.

[2016-04-01 12:30] njb-said commented on #37
Fixed, sorry. I think it's a billing issue with the server.

[2016-04-01 12:30] #37 closed

[2016-05-07 13:29] njb-said opened #38 "Outdated docs"
Several backend changes have happened lately, and I have neglected updating the docs.
I want to get this done ASAP but it might have to wait until the redesign (yes, it's planned.)

[2016-05-11 18:18] Cloudhunter opened #39 "EU server not resolving names"
As per the title! It appears the EU API is having difficulty resolving names direct from Mojang.

Example, on the EU API: http://prntscr.com/b2vhrc

Nicks in the database/cache appear to work: http://prntscr.com/b2vi9g

Same query in the US API: http://prntscr.com/b2viok (says cache this time - but the previous time it got it direct from Mojang).

Isn't just affecting the interface - affecting the

[2016-05-11 19:11] njb-said commented on #39
Apologises about these, we have been having a few capacity issues for the last week or so.
A few users are abusing the API causing it to have rate limiting problems from Mojang, I have been adding capacity as much as I can (quite costly to do)
I have also been blocking users who are abusing the API, this has helped lower some but not all of the errors.
The reason the US servers are responding to q

[2016-05-11 23:38] ImNatho opened #40 "Mojang rate-limit causing errors with UUID and Username resolution."
Mojang's API rate-limit has been causing issues with our API due to some spiked usage.
The current limit is about 600 requests every 10 minutes (Calculated per second which is 1 request/s)

Current solution: Add more nodes to the cloud.
Downside: Although it is too expensive without any form of income.

Working on a address proxy system to help bypass the set limits (This will probably be just as

[2016-05-11 23:39] ImNatho commented on #39
Ref #40

[2016-05-11 23:39] #39 closed

[2016-05-16 07:04] ImNatho commented on #33
Added to next major update. Sorry it took almost 2 months.

[2016-05-16 07:04] #33 closed

[2016-05-16 07:05] ImNatho commented on #38
Updated in v4

[2016-05-16 07:05] #38 closed

[2016-05-16 07:06] ImNatho commented on #24
Impossible with the rate limits and issues we currently have. A Query for 5 uuids would take at least 5 seconds to complete vs 1 uuid < 1 second.

[2016-05-16 07:06] #24 closed

[2016-05-16 22:45] xXAndrew28Xx commented on #40
Thanks for this. I was debugging like crazy trying to figure out why my server threw out 2GB in stacktraces. I tracked it down this API.

[2016-05-22 19:56] njb-said opened #41 "1.9 and MCPE"
1.9 servers don't always ping properly and MCPE is not supported at all.

Adding MCPE support will require a new endpoint.

[2016-05-22 19:57] njb-said commented on #41
This will more than likely be done in the upcoming update.
At the very least 1.9 pinging will be fixed to respect protocol changes.

[2016-06-06 17:46] pavog opened #42 "EU API throws "Unknown Username" Error"
Sometimes I get the `{"error":"Unknown Username","query":"<name>"}` error when I try parsing a username of me or my friends using the eu api `https://eu.mc-api.net/v3/uuid/<name>`.
When I use the us api `https://us.mc-api.net/v3/uuid/<name>` it always works.

To replicate the error try my Minecraftname: EvilCodes

**EU API**
`https://eu.mc-api.net/v3/uuid/EvilCodes`
`{"error":"Unknown Username","q

[2016-06-06 21:24] ImNatho commented on #42
That issue is being addressed. It is caused by mojang's api rate limit, not
our api. We are currently doing a rewrite of our server to help prevent
this.

On Tue, 7 Jun 2016, 3:16 AM Paul Vogel <notifications@github.com> wrote:

--
- N

[2016-06-06 21:39] ImNatho commented on #42
It also doesn't help that the "Not Found" result is cached for 30 minutes.

[2016-06-06 21:39] #42 closed

[2016-06-16 09:39] games647 opened #43 "No documentation when a server hits the rate-limit"
As I already posted over Twitter, there is no documentation how you display a rate-limit.

Previously I didn't even know that you use a 429 code and that this code in the JSON format.  In order to detect this properly we need to know how a JSON would look like in this case. (i.e. What's the JSON key for that code)

I know this a temporary solution, but there should be at least a small documentatio

[2016-06-16 12:05] ImNatho commented on #43
That solution would just leave us with an every increasing backlog of requests. Also: Our api is not rate limiting you... we are getting rate limited by Mojang.

[2016-06-16 12:05] #43 closed

[2016-06-16 12:05] ImNatho commented on #43
Ref #40

[2016-06-16 12:06] #18 closed

[2016-06-16 12:06] #31 closed

[2016-06-16 12:07] games647 commented on #43
https://twitter.com/mcapi_status/status/738298880148803584

I only want get notified when it happen.

[2016-06-16 12:08] ImNatho commented on #43
We can't do that since we manually rate limit people in our Nginx configs... That has only happened to ~20 IP addresses. That notification basically means that we are limiting people who are effectively dos'ing us.

[2016-06-16 14:29] njb-said commented on #18
This has been accomplished with the new templating system.

[2016-06-16 14:35] njb-said commented on #43
We can't notify people, because we actually have no way of contacting you/the user.
All we have is the IP and User agent which helps us narrow down what is sending the requests,
the new api-key system I am working on will ease this as we will have a twitter account we could potentially contact (api keys are obtained by signing in with twitter)

We get notified if an ip sends an abnormal amount of

[2016-06-16 14:38] njb-said commented on #43
For reference, we currently return a JSON message like this:
```{"status": 429, "http_reason" : "429 Too Many Requests: The user has sent too many requests in a given amount of time. ", "error": "We have detected an unusual amount of requests from your IP address, and have had to block it temporarily to protect our users.", "notice" : "We are working on an api-key system for the future."}```

A `R

[2016-06-16 14:42] games647 commented on #43
Thank you very much. What happens if one of your servers hit the rate-limit against the mojang servers. Will we receive a "Unknown Username" as it's a unknown account or there something different.

[2016-06-16 14:45] njb-said commented on #43
@games647 Depending on the situation we either return "Unknown Username" on `/v3/uuid` queries or "Unable to reach Mojang API" for others.

[2016-06-16 14:46] games647 commented on #43
Great. Thanks a lot.

[2016-06-16 14:51] njb-said commented on #43
As an update: I am about 70% done with the new api server 👍

[2016-06-22 09:09] games647 opened #44 "Forbidden 403 for Vietnam"
First of all I'd like to thank you for the great service. I donated some dollars. I hope the paypal-address is correct. Could you maybe post the email again?

So now the issue. One of my users is getting a 403 when accessing the API from Vietnam. No one else had this issue earlier. I found the other related 403 issue tickets, but it seemed to be solved or it appears again.

I do set a useragent, b

[2016-06-22 11:15] ImNatho commented on #44
Afaik @njb-said had to region block some areas... But I'll let him answer this.

[2016-06-23 02:43] flammablesports opened #45 "Username -> UUID always returns "Unknown-Username""
https://eu.mc-api.net/v3/uuid/thecampingrusher/csv returns "Unknown-Username" however, UUID -> Username returns the uuid correctly. Both US and EU servers are affected by this.

[2016-06-23 14:50] njb-said commented on #44
Interesting, I don't think vietnam is blocked.
I have edited a few settings, which may help the problem.

[2016-06-23 14:54] #44 closed

[2016-06-23 14:55] njb-said commented on #45
This is likely to do with the current issues we are having with Mojangs rate limits.
We are working on an api-key system to avoid certain users hogging the API unfairly.

[2016-06-24 19:43] zTryhqrd opened #46 "Username -> UUID 'Unknown username'"
Hello,
When I try to use the api for my username, it says 'Unknown Username', why? It's not only for me, only for other players..

https://eu.mc-api.net/v3/uuid/tewtryhard

Thanks.

[2016-06-24 22:30] njb-said commented on #46
Sorry about this, please see #45

[2016-06-29 15:25] games647 opened #47 "Caching of UUID-Requests doesn't affect the Migrated API"
I found the migrated API endpoint and wanted to use it, because it caches the entries much longer.

Although your server seems to be rate-limited again, I could request the notch UUID with the following route: (proparly because it's a popular example and is cached)
https://us.mc-api.net/v3/uuid/notch

But when I try to acces the migrated route:
https://us.mc-api.net/v3/migrated/Notch

It says unkn

[2016-06-29 17:00] njb-said commented on #47
I will look into this with our upcoming update, the reason it doesn't happen now is because we solely cache the username and migrated value key-pair without the UUID at all.

Thanks for the suggestion! 👍

[2016-08-19 00:56] njb-said commented on #47
Unfortunately we have deprecated our UUID, Name and History APIs, therefore I'm going to close this issue. :unamused:
For more information about this please visit [mc-api.net/update-v4](https://mc-api.net/update-v4).

If you need any more help please let me know on here or [on our discord](https://discord.gg/5SX6Uk3).

[2016-08-19 00:56] #47 closed

[2016-08-19 00:56] njb-said commented on #46
Unfortunately we have deprecated our UUID, Name and History APIs, therefore I'm going to close this issue. :unamused:
For more information about this please visit [mc-api.net/update-v4](https://mc-api.net/update-v4).

If you need any more help please let me know on here or [on our discord](https://discord.gg/5SX6Uk3).

[2016-08-19 00:56] #46 closed

[2016-08-19 00:56] njb-said commented on #45
Unfortunately we have deprecated our UUID, Name and History APIs, therefore I'm going to close this issue. :unamused:
For more information about this please visit [mc-api.net/update-v4](https://mc-api.net/update-v4).

If you need any more help please let me know on here or [on our discord](https://discord.gg/5SX6Uk3).

[2016-08-19 00:56] #45 closed

[2016-08-19 00:57] njb-said commented on #40
Unfortunately we have deprecated our UUID, Name and History APIs, therefore I'm going to close this issue. :unamused:
For more information about this please visit [mc-api.net/update-v4](https://mc-api.net/update-v4).

If you need any more help please let me know on here or [on our discord](https://discord.gg/5SX6Uk3).

[2016-08-19 00:57] #40 closed

[2017-01-05 17:32] njb-said opened #48 "Aggregate on shutdown"
Run the stats aggregator when the backend is stopped/restarted to ensure consistency - SIGTERM/SIGINT

[2017-01-06 16:27] njb-said opened #49 "Fix indentation on sandbox snippets"
Currently sandbox snippets do not indent properly
![example](http://image.prntscr.com/image/a3ac584c9acf4d148a607e662a9c2a64.png)

[2017-01-14 23:49] njb-said commented on #41
The new update has been deployed, this should now be fixed 👍

[2017-01-14 23:49] #41 closed

[2017-01-14 23:50] njb-said commented on #32
Sorry for the late response, this has been fixed with the latest update, which has is also a redesign of the documentation. 😃

[2017-01-14 23:50] #32 closed

[2017-02-11 00:49] njb-said opened #50 "Allow cache to be de-coupled"
Allow redis to be de-coupled, meaning the server can run standalone - could be used in 'emergencies' but would disable scaling

[2017-02-14 11:20] chrisbruijnes opened #51 "API is down"
Hello,

The API seems to be down, can you please look into this?

Example url:
https://eu.mc-api.net/v3/server/info/glowstonepvp.com

[2017-02-14 17:13] njb-said commented on #51
Hi,

Sorry about this, some errors were happening behind the scenes.
I have resolved this and the API is back online now!

Thanks for your patience and sorry for any inconvenience caused.

[2017-02-14 17:13] #51 closed

[2017-05-30 20:10] njb-said opened #52 "Daily Performance Graph"
Currently there is a monthly performance graph, it would be interesting to see an intra-day graph too. Not a high priority.

Wouldn't be too difficult as the data is aggregated often.
I also might add a linked page (like in the navbar?) for people to see the performance stats

[2017-06-29 20:01] njb-said commented on #52
Completed in https://github.com/MC-API/static/commit/db5c6328f932f2371a387323cd7300569494485e

[2017-06-29 20:01] #52 closed, assigned to nobody

[2017-06-30 13:37] njb-said commented on #52
As it turns out, due to an oversight on my behalf the day performance graph (not interday, but today only) is stored as the wrong type in Redis.
It should be a [list](https://redis.io/topics/data-types#lists) but I used a [set](https://redis.io/topics/data-types#sets). The difference is lists are ordered and sets are not.

[2017-07-15 20:26] njb-said opened #53 "Dynamic documentation url"
Using either country header or a ping, work out the closest server to them.
After this update all documentation urls to have that subdomain - only do this on mc-api.net domain

[2017-07-15 21:36] njb-said opened #54 "Proactive cache idea"
So, I just had a weird idea, proactive caching.

When someone requests info about a server, it's cached for future requests currently.
I might make it so when an item expires from cache the server re-requests it and re-caches it automatically.
To avoid the cache growing too big (although that wouldn't be a problem really) if a route doesn't get used after so long it is no longer monitored.

Not su

[2017-07-23 11:55] njb-said opened #55 "Investigate CPU steal"
![http://i.imgur.com/Bb5w4Pg.png](http://i.imgur.com/Bb5w4Pg.png)

This a screenshot from NewRelic, the CPU had been at 99-100% for nearly a day when I stopped the forever process it dropped to a normal level, however restarting it rather than stopping didn't appear to do anything.
I think it may be caused by [forever](https://npm.im/forever) rather than the mc-api server itself.

Furthermore both

[2017-09-06 21:25] njb-said commented on #54
Implemented a lite version of this to see how it goes.

[2017-09-06 21:25] #54 closed, assigned to nobody

[2017-10-18 00:35] njb-said opened #56 "Change 'Average Error Rate' to just 'Error Rate'"
It's not really an average with a percentage. 🤔
[Culprit #1](https://github.com/MC-API/static/blob/master/views/performance.html#L133-L134) and [Culprit #2](https://github.com/MC-API/static/blob/master/views/performance.html#L247-L248)

[2017-11-25 13:42] WulfGamesYT opened #57 "API favicons - ability to choose size"
With the https://mc-api.net/ api for favicons, can you add the ability to get a custom sized favicon (in pixels), so instead of just 64px by 64px, you can get 20px by 20px using something like:

https://mc-api.net/v3/server/favicon/mc.hypixel.net?size=20

Thanks!

[2017-11-25 13:48] badnatho commented on #57
The image provided by the server ping response packet is 64x64 pixels. The client can manipulate that image however they see fit. Implementing this feature would not be a priority as it would just add unnecessary load to our servers when there are plentiful libraries out there that scale images. Not to mention html/css image scaling for web pages.

[2017-11-25 13:48] #57 closed, assigned to nobody

[2018-08-19 20:12] alessandrobasi opened #58 "Site error resolving ip"
Site error on url
https://eu.mc-api.net/v3/server/ping/mc.minatoriunti.it

[2018-08-20 23:30] njb-said commented on #58
Sorry about this, and my late reply.

For a while certain servers have been erroring, this should be fixed now and your server is responding fine for me on the API.

[2018-08-21 06:08] alessandrobasi commented on #58
Thank you so much

[2018-08-21 06:08] #58 closed, assigned to nobody

[2019-07-23 19:12] TheDevMinerTV opened #59 "Backend error"
Can't use the API since I get a 503 error from varnish.
![Bildschirmfoto zu 2019-07-23 21-12-43](https://user-images.githubusercontent.com/29845135/61740306-a1060b80-ad8e-11e9-97c7-7f95090e2e8a.png)

[2019-08-04 22:16] njb-said commented on #59
I believe this is fixed now.

[2019-08-04 22:16] #59 closed, assigned to nobody

[2020-11-01 16:14] Reichmann-M opened #60 "MC API not working in general"
In my opinion the api service is not working at all at the moment. I've been using it for a few months and today suddenly I got no response from my bot anymore. I dived deep in my code for possible bugs bot found none. I also tested it with three different servers (all with different IP's, just to exclude possible IP-bans but this also shouldn't be the problem because I always have a 60 second tim

[2020-11-07 17:14] njb-said commented on #60
Hi,

I had a look when you originally opened this issue and have been monitoring the service uptime closely since, and there doesn't appear to be any issues with the api that I can see. Are you still having this issue?

Sites such as downforeveryoneorjustme.com generally ping the website from their service and see if they get a response which can be a bit misleading, as it doesn't always show an i

[2020-11-15 21:49] Reichmann-M commented on #60
Hey,

sorry for this late answer but today I tried reaching the service from my external server and it seems working again. So probably there just had been some connection issues the other day. It looks quite promising again.

Nevertheless thank you for your help and support in your answer.

Imma close this topic now.

[2020-11-15 21:49] #60 closed, assigned to nobody

[2021-10-11 20:11] creeper123123321 opened #61 "ipv6 minecraft server support"

[2021-10-27 21:14] drmzio opened #62 "Is this API open sourced?"
Couldn't find the code for the API anywhere. I'd like to deploy this API on my own servers if possible.